.container-redcap {
  max-width: 950px;
  margin-right: 20px;
}


#record_home_dashboard {
  margin: 20px 0 10px;
  font-size: 15px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 5px !important;
}